{
  "extends": [
    // ... other configurations or plugins
    "plugin:prettier/recommended"
  ],
  "plugins": [
    // ... other plugins
    "prettier"
  ],
  "rules": {
    // ... other rules
    "prettier/prettier": "error"
  }
}
